.session-form {
	width: min(500px, calc(100vw - 1rem));

	> {
		.field,
		fieldset,
		[data-scope='combobox'] [data-part='root'] {
			display: grid;
			gap: 1rem;
			grid-template-columns: 95px 1fr;
			align-items: center;

			&:has(textarea) {
				align-items: baseline;
			}
		}
	}

	.time-group {
		display: grid;
		gap: 0.25rem;
		grid-template-columns: repeat(6, min-content) auto;
		align-items: center;

		.unit {
			margin-right: 1rem;
		}
	}

	.project-field {
		display: flex;
		align-items: center;
		gap: 1rem;

		.category {
			white-space: nowrap;
		}
	}
}
