@use './mixins';

:root {
	font-family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: var(--color);
	background-color: #181b21;
}

.sr-only {
	@include mixins.sr-only;
}

body {
	margin: 0;
	min-height: 100vh;
}

#root {
	margin: 0;
	height: 100dvh;
	display: grid;
	grid-template-columns: auto 1fr;
}

main {
	flex: 1;
	display: grid;
	grid-template-rows: auto 1fr;
	z-index: 1;

	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-left: 65px;
		padding: 1rem;

		nav {
			align-items: center;
			display: flex;
			gap: 0.5rem;
		}

		> * {
			width: max-content;
		}
	}
}
