:root {
	font-family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color: #e5e5e5;
	--color-primary: #646cff;
	--color-text-secondary: #86888f;
	--color-line: #35353b;
	--border-radius: 5px;

	color-scheme: light dark;
	color: var(--color);
	background-color: #181b21;
}

body {
	margin: 0;
	min-height: 100vh;
}

#root {
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	height: 100dvh;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	position: absolute;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.1;

	.year {
		font-weight: normal;
	}
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		margin: 0;
	}
}

a {
	font-weight: 500;
	color: var(--color-primary);
	text-decoration: inherit;

	&:hover {
		color: #535bf2;
	}
}

main {
	flex: 1;
	display: grid;
	grid-template-rows: auto 1fr;
	z-index: 1;

	header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-left: 65px;
		padding: 1rem;

		nav {
			align-items: center;
			display: flex;
			gap: 0.5rem;
		}

		> * {
			width: max-content;
		}
	}
}

.week {
	--padding-cell-x: 0.5rem;
	--padding-cell-y: 0.75rem;

	display: grid;
	grid-template-columns: auto repeat(7, 1fr);
	position: relative;

	h2 {
		font-size: 1.15rem;
		font-weight: normal;
		opacity: 0.3;
		position: absolute;
		top: var(--padding-cell-y);
		left: var(--padding-cell-x);
	}

	.weekend {
		background-color: 1e1F25;
	}
}

.hours-range {
	color: var(--color-text-secondary);
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	font-weight: bold;
	justify-content: space-around;
	margin: 4rem 0 1rem;
	padding: 0 0.75rem 0 1rem;
	text-align: right;
}

.day {
	background-color: #1e1f25;
	display: flex;
	flex-direction: column;
	position: relative;

	&:not(:last-child) {
		border-right: 1px solid var(--color-line);
	}

	.line {
		border-top: 1px solid var(--color-line);
		position: absolute;
		width: 100%;
	}

	> header {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: space-between;
		margin: var(--padding-cell-y) var(--padding-cell-x);
		padding: 0.25rem 0.25rem 0.25rem 0.75rem;
	}

	&.today header {
		background-color: #1b56fd;
		border-radius: calc(1lh + 0.5rem);
	}

	> .content {
		height: 100%;
	}
}

.task {
	background-color: var(--color-primary);
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	border-left: 3px solid currentColor;
	display: flex;
	flex-direction: column;
	min-height: min-content;
	margin-inline: var(--padding-cell-x);
	overflow: hidden;
	position: relative;
	resize: vertical;
	text-wrap: balance;
	z-index: 1;

	&:not(:last-child) {
		margin-bottom: var(--padding-cell-y);
	}

	* {
		margin: 0;
	}

	> {
		* {
			padding: 0 0.75rem;
		}
	}

	.title {
		color: var(--color);
		font-size: 0.95rem;
	}

	.time {
		color: var(--color);
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.25rem;
	}

	.content {
		padding-block: 0.65rem;
	}

	.duration {
		color: var(--color-text-secondary);
		display: flex;
		align-items: center;
		gap: 0.1rem;
	}

	small {
		display: block;
		font-size: 0.8rem;
		line-height: 1.2;
	}

	.cal {
		margin-top: 0.25rem;
	}

	.sub-cal {
		color: currentColor;
	}

	.main-cal {
		color: var(--color-text-secondary);
	}
}

.travel-time {
	--border: 1px dashed currentColor;
	--padding: 0.25rem;
	align-items: center;
	display: flex;
	gap: 0.25rem;
	font-size: 0.8rem;
	font-weight: 500;
	padding-block: var(--padding);

	&:first-child {
		border-bottom: var(--border);
	}

	&:last-child {
		border-top: var(--border);
		margin-top: auto;
	}
}

button {
	border-radius: var(--border-radius);
	border: 1px solid var(--color-line);
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;

	&:not(:disabled):hover {
		border-color: var(--color-primary);
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}

	&:disabled {
		cursor: default;
	}
}

.btn-round {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	padding: 0.25rem 0.25rem 0.1rem 0.25rem;
	height: 2rem;
}

.page-header {
	--padding: 0.75rem;

	border-right: 1px solid var(--color-line);
	position: relative;
	width: 40px;
	z-index: 2;

	.logo {
		font-size: 1.25rem;
		display: flex;
		gap: 0.5rem;
		padding: 1.5rem var(--padding) var(--padding);
		white-space: nowrap;
	}

	&.expanded {
		width: 200px;
	}

	@media (prefers-reduced-motion: no-preference) {
		transition: width 0.2s ease-out;
	}

	nav {
		font-weight: 500;
		overflow: hidden;
		padding: var(--padding);

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			list-style-type: disc;

			li {
				margin-left: 1rem;
			}
		}
	}
}

.btn-expand {
	position: absolute;
	right: -1rem;
	top: 4rem;
}

.badge {
	background-color: #2f3237;
	border-radius: 50%;
	color: var(--color);
	display: inline-block;
	font-weight: bold;
	height: 1.5rem;
	min-width: 1.5rem;
	text-align: center;
}
