input.time-field {
	background-color: transparent;
	box-sizing: content-box;
	border: none;
	border-radius: 0;
	margin: 0;
	width: fit-content;
}

.field-group {
	background-color: var(--background-form-field);
	box-sizing: border-box;
	border: var(--border);
	border-radius: var(--border-radius);

	> svg:first-child,
	> .field:first-child input {
		padding-left: var(--padding-form-field);
	}

	> .field:last-child input {
		padding-right: var(--padding-form-field);
	}

	.icon-arrow {
		margin-inline: 1rem;
	}
}
